.button {
  position: relative;
  padding: var(--padding-small) var(--padding-large);
  font-size: var(--font-size-medium);
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.button.disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
}

.button.disabled:hover {
  background-color: var(--disabled);
}

.button-icon {
  margin-right: var(--margin-small);
}

.button-text {
  margin-left: var(--margin-xs);
}

.without-text .button-icon {
  margin-right: 0;
}

.without-text .button-text {
  display: none;
}
.button.danger {
  background-color: var(--danger);
  color: var(--white);
}

.button.disable {
  background-color: var(--secondary-color);
  color: var(--black);
}

.button.add {
  background-color: var(--primary-color);
  color: var(--white);
}
