:root {
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
  --font-size-xl: 26px;

  --padding-xxs: 6px;
  --padding-xs: 8px;
  --padding-small: 10px;
  --padding-medium: 12px;
  --padding-large: 20px;
  --padding-xl: 20px;

  --margin-xxs: 5px;
  --margin-xs: 8px;
  --margin-small: 10px;
  --margin-medium: 12px;
  --margin-large: 20px;
  --margin-xl: 20px;
}
