.number-input {
  padding: var(--padding-xs) var(--padding-medium);
  font-size: var(--font-size-medium);
  border: 1px solid var(--disabled);
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.number-input:focus {
  outline: none;
  border-color: var(--input-focus);
  box-shadow: 0 0 5px var(--input-shadow);
}
