.operation-radio-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.operation-label {
  height: 28px;
  display: flex;
  align-items: center;
  margin-right: var(--margin-small);
  padding: var(--padding-xxs) var(--padding-small);
  border-radius: 4px;
  background-color: var(--radio-background);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.operation-label:hover {
  background-color: var(--radio-background-hover);
}

.operation-icon {
  font-size: var(--font-size-large);
  margin-left: var(--margin-xxs);
}
